<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Entry</th>
    </tr>
    </thead>
    <% for(i in envs) {
        let env = envs[i];
    %>
        <tr>
            <td><%- env.name %></td>
            <td><%- env.description %></td>
            <td><%- env.entry %></td>
        </tr>
    <% } %>
</table>
