
body,
input, select, textarea {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}

/* BASE LAYOUT */

html {
    background-color: #bbbbbb;
    background-image: -moz-linear-gradient(center top, #aaa, #ddd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(1, #ddd));
    background-image: linear-gradient(top, #aaa, #ddd);
    background-repeat: no-repeat;
    height: 100%;
    /* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html.no-cssgradients {
    background-color: #aaa;
}

.ie6 html {
    height: 100%;
}

html * {
    margin: 0;
}

body {
    background: #ffffff;
    color: #333333;
    margin: 0 auto;
    overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
    -moz-box-shadow: 0 0 0.3em rgba(156, 255, 255, 0.63);
    -webkit-box-shadow: 0 0 0.3em rgba(186, 255, 255, 0.63);
);
    box-shadow: 0 0 0.3em rgba(186, 255, 255, 0.63);
}

#grailsLogo {
    background-color: #00a1a1;
}

/* replace with .no-boxshadow body if you have modernizr available */
.ie6 body,
.ie7 body,
.ie8 body {
    border-color: #25175b;
    border-style: solid;
    border-width: 0 1px;
}

.ie6 body {
    height: 100%;
}

a:link, a:visited, a:hover {
    color: #482c80;
}

a:hover, a:active {
    outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
}

h1 {
    color: #482ca0;
    font-weight: normal;
    font-size: 1.25em;
    margin: 0.8em 0 0.3em 0;
}

ul {
    padding: 0;
}

img {
    border: 0;
}

/* GENERAL */

#grailsLogo a {
    display: inline-block;
    margin: 1em;
}

.content {
    position: relative;
}

.content h1 {
    border-bottom: 1px solid #CCCCCC;
    margin: 0.8em 1em 0.3em;
    padding: 0 0.25em;
}

.scaffold-list h1 {
    border: none;
}

.footer {
    background: #00a1a1;
    color: #000;
    clear: both;
    font-size: 0.8em;
    margin-top: 1.5em;
    padding: 1em;
    min-height: 1em;
}

.footer a {
    color: #25175b;
}

.spinner {
    background: url(../../../../../.grails/2.4.4/projects/etsyinventory/plugins/quartz-monitor-1.0/web-app/images/spinner.gif) 50% 50% no-repeat transparent;
    height: 16px;
    width: 16px;
    padding: 0.5em;
    position: absolute;
    right: 0;
    top: 0;
    text-indent: -9999px;
}

/* NAVIGATION MENU */

.nav {
    background: #00a1a1;
    color: white;
    padding: 0.5em 0.75em;
    -moz-box-shadow: 0 0 0.3em rgba(155, 255, 255, 0.63);
    -webkit-box-shadow: 0 0 0.3em rgba(155, 255, 255, 0.63);
);
    box-shadow: 0 0 0.3em rgba(155, 255, 255, 0.63);
    zoom: 1;
}

.nav ul {
    overflow: hidden;
    padding-left: 0;
    zoom: 1;
}

.nav li {
    display: block;
    float: left;
    color: white;
    list-style-type: none;
    margin-right: 0.5em;
    padding: 0;
}

.nav a {
    color: white;
    display: block;
    padding: 0.25em 0.7em;
    text-decoration: none;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.nav a:active, .nav a:visited {
    color: white;
}

.nav li:focus, .nav li:hover {
    background-color: rgba(9, 186, 255, 0.63);;
    color: darkblue;
    outline: none;
    text-shadow: 1px 1px 1px rgba(1, 0, 0, 0.8);
}

.nav a:focus, .nav a:hover {
    background-color: #999999;
    color: #ffffff;
    outline: none;
    text-shadow: 1px 1px 1px rgba(1, 0, 0, 0.8);
}

.no-borderradius .nav a:focus, .no-borderradius .nav a:hover {
    background-color: transparent;
    color: #444444;
    text-decoration-line: underline;
}

.nav a.home, .nav a.list, .nav a.create {
    background: no-repeat 0.7em center;
    text-indent: 25px;
}

.nav a.home {
    background-image: url(/images/skin/house.png);
}

.nav a.list {
    background-image: url(/images/skin/database_table.png);
}

.nav a.create {
    background-image: url(/images/skin/database_add.png);
}

/* CREATE/EDIT FORMS AND SHOW PAGES */

fieldset,
.property-list {
    margin: 0.6em 1.25em 0 1.25em;
    padding: 0.3em 1.8em 1.25em;
    position: relative;
    zoom: 1;
    border: none;
}

.property-list .fieldcontain {
    list-style: none;
    overflow: hidden;
    zoom: 1;
}

.fieldcontain {
    margin-top: 0em;
    margin-bottom: 0em;
}

.fieldcontain label,
.fieldcontain .property-label {
    color: #888888;
    text-align: right;
    width: 25%;
}

.fieldcontain .property-label {
    float: left;
}

.fieldcontain .property-value {
    display: block;
    margin-left: 30%;
}

label {
    cursor: pointer;
    display: inline-block;
    margin: 0 0.25em 0 0;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #cccccc;
    font-size: 1em;
    padding: 0.2em 0.4em;
}

select {
    padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
    vertical-align: top;
}

textarea {
    overflow: auto; /* IE always renders vertical scrollbar without this */
    vertical-align: top;
}

input[type=checkbox], input[type=radio] {
    background-color: transparent;
    border: 0;
    padding: 0;
}

input:focus, select:focus, textarea:focus {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    outline: 0;
    -moz-box-shadow: 0 0 0.5em #ffffff;
    -webkit-box-shadow: 0 0 0.5em #ffffff;
    box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
    color: #48802C;
    display: inline-block;
    font-weight: bold;
    margin-left: 0.3em;
    position: relative;
    top: 0.1em;
}

ul.one-to-many {
    display: inline-block;
    list-style-position: inside;
    vertical-align: top;
}

.ie6 ul.one-to-many, .ie7 ul.one-to-many {
    display: inline;
    zoom: 1;
}

ul.one-to-many li.add {
    list-style-type: none;
}

/* EMBEDDED PROPERTIES */

.filterSelected {
    background-color: #99aaaa;
}

fieldset.embedded {
    background-color: transparent;
    border: 1px solid #CCCCCC;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

fieldset.embedded legend {
    margin: 0 1em;
}

/* MESSAGES AND ERRORS */

.errors,
.message {
    font-size: 0.8em;
    line-height: 2;
    margin: 1em 2em;
    padding: 0.25em;
}

.message {
    background: #fffff3;
    border: 1px solid rgba(147, 255, 255, 0.48);
    color: #00ffa2;
    -moz-box-shadow: 0 0 0.25em rgba(147, 255, 255, 0.48);
    -webkit-box-shadow: 0 0 0.25em rgba(147, 255, 255, 0.48);
    box-shadow: 0 0 0.25em rgba(147, 255, 255, 0.48);
}

.errors {
    background: #fff3f3;
    border: 1px solid #ffaaaa;
    color: #cc0000;
    -moz-box-shadow: 0 0 0.25em #ff8888;
    -webkit-box-shadow: 0 0 0.25em #ff8888;
    box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,
.message {
    padding: 0;
}

.errors li {
    list-style: none;
    background: transparent url(../images/skin/exclamation.png) 0.5em 50% no-repeat;
    text-indent: 2.2em;
}

.message {
    background: transparent url(../images/skin/information.png) 0.5em 50% no-repeat;
    text-indent: 2.2em;
}

/* form fields with errors */

.error input, .error select, .error textarea {
    background: #fff3f3;
    border-color: #ffaaaa;
    color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
    -moz-box-shadow: 0 0 0.5em #ffaaaa;
    -webkit-box-shadow: 0 0 0.5em #ffaaaa;
    box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */

input:invalid, select:invalid, textarea:invalid {
    background: #fff3f3;
    border-color: #ffaaaa;
    color: #cc0000;
}

input:invalid:focus, select:invalid:focus, textarea:invalid:focus {
    -moz-box-shadow: 0 0 0.5em #ffaaaa;
    -webkit-box-shadow: 0 0 0.5em #ffaaaa;
    box-shadow: 0 0 0.5em #ffaaaa;
}

/* TABLES */

/* table {
  border-top: 1px solid #DFDFDF;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1em;
}
*/

tr {
    border: 1px;
}

tr > td:first-child, tr > th:first-child {
    padding-left: 1.25em;
}

tr > td:last-child, tr > th:last-child {
    padding-right: 1.25em;
}

td, th {
    line-height: 1.5em;
    padding: 0em 0.5em;
    vertical-align: top;
}

th {
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
    color: #666666;
    font-weight: bold;
    line-height: 1.7em;
    padding: 0.2em 0.6em;
}

thead th {
    white-space: nowrap;
}

th a {
    display: block;
    text-decoration: none;
}

th a:link, th a:visited {
    color: #666666;
}

th a:hover, th a:focus {
    color: #333333;
}

th.sortable a {
    background: no-repeat right;
    padding-right: 1.1em;
}

th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
    background-image: url(../../../../../.grails/2.4.4/projects/etsyinventory/plugins/quartz-monitor-1.0/web-app/images/skin/sorted_desc.gif);
}

.odd {
    background: #aaaaff;
}

.even {
    background: #ffffff;
}

/* PAGINATION */

.pagination {
    border-top: 0;
    margin: 0;
    padding: 0.3em 0.2em;
    text-align: center;
    -moz-box-shadow: 0 0 3px 1px #AAAAAA;
    -webkit-box-shadow: 0 0 3px 1px #AAAAAA;
    box-shadow: 0 0 3px 1px #AAAAAA;
    background-color: #EFEFEF;
}

.pagination a,
.pagination .currentStep {
    color: #666666;
    display: inline-block;
    margin: 0 0.1em;
    padding: 0.25em 0.7em;
    text-decoration: none;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
    background-color: #999999;
    color: #ffffff;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
    background-color: transparent;
    color: #444444;
    text-decoration: underline;
}

/* ACTION BUTTONS */
.propertybuttons {
    background-color: #80bbff;
    overflow: hidden;
    padding: 0.3em;
    -moz-box-shadow: 0 0 3px 1px #aaaaaa;
    -webkit-box-shadow: 0 0 3px 1px #aaaaaa;
    box-shadow: 0 0 3px 1px #aaaaaa;
    margin: 0.1em 0 0 0;
    border: none;
}

.buttons {
    background-color: #efefef;
    overflow: hidden;
    padding: 0.3em;
    -moz-box-shadow: 0 0 3px 1px #aaaaaa;
    -webkit-box-shadow: 0 0 3px 1px #aaaaaa;
    box-shadow: 0 0 3px 1px #aaaaaa;
    margin: 0.1em 0 0 0;
    border: none;
}

.buttons ul {
    overflow: hidden;
    padding-left: 0;
    zoom: 1;
}

.buttons li {
    display: block;
    float: left;
    list-style-type: none;
    margin-right: 0.5em;
    padding: 0;
}

.buttons input,
.buttons a {
    background-color: transparent;
    border: 0;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    margin: 0 0.25em 0;
    overflow: visible;
    padding: 0.25em 0.7em;
    text-decoration: none;

    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.tabHeader {
    padding-top: 5px;
}

.tabHeader ul {
    overflow: hidden;
    padding-left: 2;
    zoom: 1;
}

.tabHeader li {
    display: block;
    float: left;
    list-style-type: none;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tabHeader li:hover {
    background-color: #888888;
    color: #ffffff;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.buttons input:hover, .buttons input:focus,
.buttons a:hover, .buttons a:focus {
    background-color: #999999;
    color: #ffffff;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.no-borderradius .buttons input:hover, .no-borderradius .buttons input:focus,
.no-borderradius .buttons a:hover, .no-borderradius .buttons a:focus {
    background-color: transparent;
    color: #444444;
    text-decoration: underline;
}

.buttons .delete, .buttons .edit, .buttons .save, .buttons .create, .buttons .list {
    background: no-repeat 0.7em center;
    text-indent: 25px;
}

.delete, .edit, .save, .create, .list {
    background: no-repeat 0.7em center;
    cursor: pointer;
    text-indent: 25px;
    background-color: transparent;
    border: 0;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    margin: 0 0.25em 0;
    overflow: visible;
    padding: 0.25em 0.7em;
    text-decoration: none;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
}

.ie6 .buttons input.delete, .ie6 .buttons input.edit, .ie6 .buttons input.save,
.ie7 .buttons input.delete, .ie7 .buttons input.edit, .ie7 .buttons input.save {
    padding-left: 36px;
}

.buttons .create {
    background-image: url(/images/skin/database_add.png);
}

.buttons .copy {
    background-image: url(/images/skin/database_add.png);
}

.buttons .delete {
    background-image: url(/images/skin/database_delete.png);
}

.buttons .edit {
    background-image: url(/images/skin/database_edit.png);
}

.buttons .save {
    background-image: url(/images/skin/database_save.png);
}

.buttons .list {
    background-image: url(/images/skin/database_table.png);
}

.create {
    background-image: url(/images/skin/database_add.png);
}

.copy {
    background-image: url(/images/skin/database_add.png);
}

.delete {
    background-image: url(/images/skin/database_delete.png);
}

.edit {
    background-image: url(/images/skin/database_edit.png);
}

.save {
    background-image: url(/images/skin/database_save.png);
}

.list {
    background-image: url(/images/skin/database_table.png);
}

a.skip {
    position: absolute;
    left: -9999px;
}

.positive {
    background-color: #cfc;
}

.negative {
    background-color: #fcc;
}

.BigStat {
    font-size: 2em
}
.BigGoal {
    font-size: 2em;
    color: darkgreen;
}

img.productimg-medium {
    width: 8em;
    height: 8em;
}

img.productImg-small {
    width: 5em;
    height: 5em;
}

img.productImg-tiny {
    width: 3em;
    height: 3em;
}

.work-panel {
    width: 49%;
    clear: left;
    margin: 0.3% 0.3%;
}

.status-panel {
    width: 23%;
    float: left;
    margin: 0.3% 0.3%;
}

.left-panel {
    width: 30%;
    float: left;
}

.right-panel {
    width: 70%;
    float: right;
}

.product-panel {
    width: 49%;
    float: left;
    margin: 0.3% 0.3%;
}

.info-panel {
    width: 49%;
    float: right;
    margin: 0.3% 0.3%;
}

.product-3panel {
    width: 32%;
    float: left;
    margin: 0.3% 0.3%;
}

.normalpanel {
    margin: 0.3% 0.3%
}

.login-status {
    float: right;
}

.login-status ul {
    overflow: hidden;
    padding-left: 0;
}

.login-status li {
    display: block;
    list-style-type: none;
    margin-right: 0.5em;
    padding: 0;
}

.Running {
    color: #00aaff;
    background: url(../../../../../.grails/2.4.4/projects/etsyinventory/plugins/quartz-monitor-1.0/web-app/images/spinner.gif) 50% 50% no-repeat transparent;
}

.Failed {
    color: #ff0000;
}

table.workItem td {
    font-size: 70%;
}

.workItemName {
    list-style: none;
}

.workItemOption {
    list-style: disc;
    margin-left: 1.0em;
    list-style-position: inside;
    font-size: 75%;
    margin-top: -1em;
}

.workItemINIT {
    background-color: lightpink;
}

.workItemOPEN {
    background-color: lightblue;
}

.workItemCLOSED {
    background-color: darkgreen;
    color: white;
}

.workItemBLOCKED {
    background-color: darkred;
    color: white;
}

.workItemCANCELLED {
    background-color: tan;
}

#verticalHeader {
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: top left;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: top left;
    -o-transform: rotate(-90deg);
    -o-transform-origin: top left;
    position: relative;
    top: 20px;
}

.order-PENDING {
    background-color: #ffaaaa;
}

.order-OPEN {
    background-color: #lightgreen;
}

.order-INPROCESS {
    background-color: #lightblue;
}

.order-FULFILLED {
    background-color: #4488ff;
}

.TabSelected {
    background-color: #4488ff;
}

.column {
    border: 5px;
    border-style: ridge;
    background-color: #cccccc;
    height: 600px;
}

.lotItem {
    border: 3px;
    border-style: outset;
    background-color: #aaaaff;
    width: 180px;
    float: left;
    margin: 5px 5px 5px 0;
}

.svgLink a {
    text-decoration: none;
}

.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

.dialog {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    z-index: 1002;
    overflow: auto;
}

.Fulfilled {
    background-color: #0040ff;
    color: white;
}

.Fulfilled a {
    color: white;
}

.Shipped {
    background-color: #000040;
    color: white;
}

.Shipped a {
    color: white;
}

.Shipping {
    background-color: #aa9844;
    color: black;
}

.ShippingError {
    background-color: #aa0000;
    color: white;
}

.ShippingError a {
    color: white;
}

.Downloaded {
    background-color: white;
}

.Open {
    background-color: #lightblue;
    color: black;
}

.Open a {
    color: black;
}

.Printed {
    background-color: #40ff40;
    color: black;
}

.Printed a {
    color: black;
}

.BuildingBOM {
    background-color: darkorange;
    color: white;
}

.Cancelled {
    background-color: darkred;
    color: white;
}

.display tr:hover {
    background-color: #00a1a1;
    color: black;
}

.display tr:hover a {
    color: black;
}

.selectList {
    border-spacing: 0px;
    border-collapse: collapse;
}

.selectList td {
    border-style: groove;
    border-width: 3px;
}

.selectList tr:hover {
    background-color: darkcyan;
    color: white;
}

.Shipped-unknown {
    background-color: #004040;
    color: white;
}

.Shipped-unknown a {
    color: white;
}
.Shipped-pre_transit {
    background-color: #004040;
    color: white;
}

.Shipped-pre_transit a {
    color: white;
}
.Shipped-in_transit {
    background-color: #400040;
    color: white;
}

.Shipped-in_transit a {
    color: white;
}
.Shipped-out_for_delivery {
    background-color: #400040;
    color: white;
}

.Shipped-out_for_delivery a {
    color: white;
}
.Shipped-delivered {
    background-color: #000040;
    color: white;
}

.Shipped-delivered a {
    color: white;
}
.Shipped-available_for_pickup {
    background-color: #000040;
    color: white;
}

.Shipped-available_for_pickup a {
    color: white;
}
.Shipped-return_to_sender {
    background-color: #400000;
    color: white;
}

.Shipped-return_to_sender a {
    color: white;
}
.Shipped-failure {
    background-color: #400000;
    color: white;
}

.Shipped-failure a {
    color: white;
}
.Shipped-cancelled {
    background-color: #400000;
    color: white;
}

.Shipped-cancelled a {
    color: white;
}
.Shipped-error {
    background-color: #400000;
    color: white;
}

.Shipped-error a {
    color: white;
}
.selected {
    background-color: #aaaaaa;
    color: black;
}

.selected a {
    color: black;
}
.env-container {
    padding: 10px;
    border-style: outset;
    border-spacing: 10px;
    border-radius: 16px;
    background: darkcyan;
    color: white;
    float: left;
}
.env-container a {
    color: white;
}
