/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * For more information see:
 *   https://sailsjs.com/anatomy/assets/styles/importer-less
 */
.table-actions {
  margin: 5px;
}
body {
  font: 12pt arial;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
tr:hover {
  background: #448844;
  color: white;
}
tr:hover a {
  color: white;
}
.header {
  position: absolute;
  top: 0;
  left: 200px;
  right: -1px;
  height: 30px;
  background: white;
  color: black;
}
.current-page {
  float: left;
  padding-left: 50px;
  padding-top: 5px;
}
.row-0 {
  background: #ffffff;
}
.row-1 {
  background: #ffddff;
}
.side-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background: #008800;
  color: black;
}
.action-bar {
  margin: 0;
  padding: 0;
  color: #fff;
  list-style: none;
  text-indent: 20px;
  background: #008800;
}
.action-bar-list {
  height: 36px;
}
.action-bar-list a {
  color: white;
  text-decoration: none;
}
.action-bar-list:hover {
  background: #006600;
  border-left: 5px solid white;
}
.work-area {
  position: absolute;
  top: 30px;
  left: 200px;
  width: calc(100% - 205px);
  height: 100%;
  overflow-y: scroll;
  background: lightgray;
}
.gadget {
  margin: 5px;
  padding: 2px 2px 2px 2px;
  background: #777777;
  color: black;
  float: left;
  width: 300px;
}
.gadget-header {
  padding: 5px;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  color: white;
  background: #008800;
}
.gadget-header a {
  margin: 3px;
  font-size: 10pt;
  color: white;
  text-decoration: none;
}
.gadget-header a:hover {
  font-size: 10pt;
  margin: 3px;
  color: white;
  background: #006600;
  color: black;
  text-decoration: none;
}
.gadget-body {
  background: white;
  padding: 5px;
  top: 30px;
  left: 0;
  height: 300px;
}
.policy-enabled {
  background: lightgreen;
}
.policy-disabled {
  background: pink;
}
.sub-action-bar-div {
  display: none;
}
.sub-action-bar {
  margin: 0;
  padding: 0;
  color: #fff;
  list-style: none;
  text-indent: 40px;
  background: #00bb00;
}
.sub-action-bar-list {
  height: 30px;
  background: #00bb00;
}
.sub-action-bar-list a {
  color: white;
  text-decoration: none;
}
.sub-action-bar-list:hover {
  background: #006600;
  border-left: 5px solid white;
}
/* FONT STACK */
